.basketCon {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  width: 800px;
}

.itemCon {
  margin: 10px;
  display: flex;
  border: 1px solid black;
  width: 800px;
  height: 50px;
}
